*{
    margin: 0px;
    padding: 0px;
}
.conteiner{
    margin: 100px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:30px;
}

.main-img-setup{
    width: 600px;
    height: 300px;
    border: '1px solid red';
}   

.conteiner-test2{
    width: 80%;
    margin: 100px;
}
.conteiner-test2-ingreso{
    display: flex;
}

.main-button{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 10px;
}